<div class="small-form">
    <img style="width: 100%; border-radius: 0.3rem; 	box-shadow: inset 0 0 0 2px #f4f3f0,
    0 0 0 4px #f4f3f0;"  src="https://miro.medium.com/max/1024/0*tyrsPw2X5I53HfU6.jpg" alt="Responsive image">
	<h1 style="font-size: 3rem">What is Upcyling?</h1>
    <p class="fs-5 col-md-8">Upcycling, also known as creative reuse, is the process of transforming by-products, waste materials, useless, or unwanted products into new materials or products perceived to be of greater quality, such as artistic value or environmental value</p>
    <p><a href="https://github.com/twbs/bootstrap-npm-starter" rel="noopener" target="_blank">Visit us on GitHub</a></p>
</div>