<div class="error">
	<h1 style="font-size: 3rem">404: An error has occurred!</h1>
	<h1> <span class="ascii">(╯°□°）╯︵ ┻━┻</span></h1>
    <a href="/"> <button class="btn btn-primary btn-header" type="submit">Back to Homepage</button></a>
</div>