<img  class="banner-image" class="img-fluid" alt="Responsive image">
<h1 class="banner-header">Explore Upcyling Projects</h1>
<%- include('partials/projectGrid', { projects: projects, large: true }) %>