@import 'shared/variables.css';
@import 'shared/fonts.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/form.css';
@import 'shared/category.css';
@import 'shared/projects.css';
@import 'shared/footer.css';
@import 'shared/error-404.css';

:root {
  font-family: 'Rasa';
  font-size: 20px;
  color: var(--color-text-dark);
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1 {
	font-size: 60px !important;
}

body {
  background: var(--color-background-light);
  margin: 0 !important;
}

.container {
  margin: auto;
}

.inner-container {
  margin: 0 2rem;
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 10%;
}

.page-header {
  font-size: 2rem;
}

.banner-header {
	position: relative !important;
	z-index: 10 !important;
	text-align: center;
	color: white;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.error-message {
  text-align: center;
  color: rgb(126, 0, 0);
}

.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: #1c3c34;
	border: 1px solid #1c3c34;
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px #f4f3f0,
					0 0 0 4px #f4f3f0;
}

.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}


.banner-image {
	height: 35rem;
	width: 100%;
	z-index: 10;
	position: fixed;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 10%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	background-image: 
	linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	url(
'https://images.pexels.com/photos/2382325/pexels-photo-2382325.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}


.small-form {
	padding-left: 25rem;
	padding-right: 25rem;
}

.x-small-form {
	padding-left: 30rem;
	padding-right: 30rem;
}