<div class="small-form">
  <h1 class="page-header">New Category</h1>
  <form action="/categorys" method="POST">
    <%- include('_form_fields') %>
    <div class="form-row form-row-end btn-row">
      <a class="btn btn-danger" href="/categorys">Cancel</a>
      <button class="btn btn-primary" type="submit">Create</button>
    </div>
  </form>
</div>