<h2 class="page-header">Category: <%= category.name %></h2>
<div class="btn-row">
  <a class="btn btn-primary" href="/categorys/<%= category.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm',
              { url: `/categorys/${category.id}` }) %>
</div>
<% if (projectsByCategory.length > 0) { %>
  <h2 class="page-header">Projects By Category</h2>
  <%- include('../partials/projectGrid', { projects: projectsByCategory }) %>
<% } %>
<br>
<a href="/projects/new">Submit a new Project</a>