:root {
  --project-cover-width: 200px;
  --project-cover-width-large: 325px;
  --project-cover-aspect-ratio: 0.75;
}

.project-cover {
  transition: all .2s ease-in-out; 
  width: var(--project-cover-width);
  height: calc(var(--project-cover-width) / var(--project-cover-aspect-ratio));
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.project-cover:hover {
  filter: brightness(50%);
  transform: scale(1.05);
}


.project-cover-large {
  --project-cover-width: var(--project-cover-width-large);
  border-radius: 0.3rem;
}

.project-grid {
  padding-top:40px;
  position: relative;
  z-index: 10;
  display: grid;
  justify-content: center;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, var(--project-cover-width));
}

.project-grid-large {
  grid-template-columns: repeat(auto-fill, var(--project-cover-width-large));
}

.project-details {
  display: flex;
}

.project-details-label {
  font-size: 1.2rem;
  font-weight: 500;
  align-self: flex-start;
}

.project-details-grid {
  display: grid;
  align-content: flex-start;
  align-items: center;
  grid-gap: 1rem;
  grid-template-columns: auto auto;
  padding-left: 50px
}

.project-details-btn-grid {
  display: grid;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  grid-template-areas:
    "edit delete"
    "category category";
  grid-gap: .5rem;
  margin-top: .5rem;
}

.project-details-category-button {
  grid-area: category;
  justify-self: stretch;
}