:root {
  --color-base-hue: 200;
  --color-danger-hue-offset: 180;
  --color-danger-hue: #1c3c34;
  --color-background-dark: black;
  --color-background-light: #f4f3f0;
  --color-text-light: #1c3c34;
  --color-text-dark: #1c3c34;
}