<h1 class="page-header">New Project</h1>
<form action="/projects" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/projects">Cancel</a>
    <button class="btn btn-primary" type="submit">Submit ›</button>
  </div>
</form>
<p>Want to make a new category? <a href="/categorys/new">Click here</a></p>
<br>
<div class="divider div-transparent div-dot"></div>