<div class="small-form">
    <h2>Users Index</h2>

    <div>
        <% let counter  = 0 %>
        <% users.forEach(user => { %>
            <% counter += 1 %>
            <p><% counter %></p>
            <p><%= user.username %></p>
            
        <% }) %>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
