<div class="x-small-form">
<h1 class="page-header">Sign Up</h1>
<form action="/users" method="post">
    <div class="form-row">
        <div class="form-item">
            <label for="user-username">Username</label>
            <input  type="text" name="username" class="form-control" id="user-username" placeholder="Username">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label for="user-password">Password</label>
            <input type="password" name="password" class="form-control" id="user-password" placeholder="Password">
        </div>
        </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </div>
</form>
</div>
    